VITE_SUPABASE_URL=https://dcrlaoudqcfbauxalbgs.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRjcmxhb3VkcWNmYmF1eGFsYmdzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTYwMjk5MzQsImV4cCI6MjA3MTYwNTkzNH0.JwOnB-dOtBfmzMyix4KOx73ukzOqyPLd43kcqsSpBpI
